<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug builds only: checks the speech recogniser from adb. -->
        <activity android:name=".SttCheckActivity" android:exported="true" />
    </application>
</manifest>
